body {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text';
}

.box {
    padding: 0;
    margin: 0;
    background-size: 400%;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(222, 151, 255), white, rgb(130, 188, 255));
    animation: animate 15s ease-in infinite alternate-reverse;
}

@keyframes animate {
    0% {
        background-position: 20%;
    }

    50% {
        background-position: 80% 50%;
    }

    100% {
        background-position: 20%;
    }
}

.container-fluid {
    position: sticky;
}

.nav-item:hover {
    border-radius: 30%;
    border-color: black;
    background-size: 300%;
    background-image: linear-gradient(-45deg, rgb(155, 202, 255), white);
    animation: animate 1s infinite ease;
}

.collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
}

.side {
    gap: 20px;
}

.sarovar {
    font-weight: bold;
    font-size: 30px;
}

.meta-text {
    text-align: center;
    justify-content: center;
    display: flex;
}

.onePlace {
    font-size: 1.3rem;
}

.tag {
    margin-top: 6%;
}

#i3 {
    font-size: 5rem;
    border-right: 2px solid rgb(0, 0, 0);
    overflow: hidden; 
    color: brown;
     
}

.para1 {

    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    font-size: 1.1em;
}

.Welcome, .Ask, .Buy {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 10%;
    width: 30%;
    text-wrap: wrap;
    border: white 2px solid;
    margin-top: 20px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    font-size: 2rem;
}

.Welcome:hover, .Ask:hover, .Buy:hover {
    transition: ease-in;
    background-color: transparent;
    border-color: black;
    color: rgb(0, 0, 0);
}

.Ask>a, .Buy>a {
    text-decoration: none;
    color: white;
}